<!DOCTYPE html>
<html>
<head>
    <title>Gestion de Livres</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Ma Collection de Livres</h1>

    <form action="/rechercher" method="get">
        <input type="text" name="recherche" placeholder="Rechercher un livre">
        <button type="submit">Rechercher</button>
    </form>

    <a href="/ajouter">Ajouter un Nouveau Livre</a>

    <table>
        <tr>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Emplacement</th>
            <th>Actions</th>
        </tr>
        {% for livre in livres %}
        <tr>
            <td>{{ livre[1] }}</td>
            <td>{{ livre[2] }}</td>
            <td>{{ livre[3] }}</td>
            <td>
                <a href="/supprimer/{{ livre[0] }}">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
